.footer {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282c34;
    color: #fff;
    flex-direction: column;
}

.footer span {
    font-weight: bold;
    color: #61dafb;
    text-align: center;
}



h5 {
    margin-top: 10px;
}